.navBar {
  height: 60px;
  max-width: 100%;
  background-color: var(--color-blue-a);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--padding-medium);
  font-size: var(--font-size-large);
}

.navBar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logoutButton {
  background-color: var(--color-grey-a);
}
