.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 4px;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.todoInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todoInput:first-of-type {
  margin-right: 0.5rem;
}

.todoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
