.toast {
  padding: 2px;
  color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.error {
  background-color: var(--color-red-a);
}

.success {
  background-color: var(--color-green-a);
}

.info {
  background-color: var(--color-blue-a);
}

.message {
  margin: 0;
}
